.adminContainer{
    display: flex;
}
.adminC1{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    
}
.adminC2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.adminC2_1{
    display: flex;
    flex-direction: row;
    width: 100vh;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 20%;
}