
.home{
    background-image: url("../assets/background.jpg");
    background-size: cover;

    background-position: center;
    width: 100%;
    height: 100vh;
    
}

.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerCenter{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%

}
.trabajaAqui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px ;
    width: 780px;
    height: 525px;

}

.trabajaAqui h1{
    color: white;
    font-size: 40px;
    text-align: center;
    justify-content: center;

}
.hr{
    border-color: #0F91FE;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;

    border-radius: 20px;
}
.trabajaAqui p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    
}
#option{
    text-decoration: none;
}


