.background{
    background-image: url("../assets/background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.containerHome{
    display: flex;
}
.trabajaAqui{
    background-color: rgba(0,0,0,0.6);
    height: 50vh;
    border-radius: 20px;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    flex: 2;
}
.trabajaAqui h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
}
.hr{
    border-color: #0F91FE;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}
.trabajaAqui p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    width: 50%;
    margin-left: 25%;
}


