.background{
    background-image: url("../assets/background.jpg");
}

.containerHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.trabajaAqui{
    background-color: rgba(0,0,0,0.6);
    width: 780px;
    height: 523px; 
    left: 10%; 
    border-radius: 20px ;
    position: relative;
    top: 98px;
    bottom: 170px;
}
.trabajaAqui h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 30%;
}
.hr{
    border-color: #0F91FE;
    width: 60%;
}
.trabajaAqui p{
    color: white;
    font-size: 15px;
    text-align: justify;
    width: 50%;
    margin-left: 25%;
}


