.login{
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 402px;
    height: 518px; 
    left: 10%; 
    border-radius: 20px ;
    position: relative;
    top: 98px;
    bottom: 170px;
    text-align: center;
    margin-left: 20%;
}
.texto{
    margin-top: 10%;
    font-size: 120%;
    font-weight: bold;
    background-color: aqua;
}