.main-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 18%;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 100vh;
    border: 1px solid #393837;
    padding: 1%;
    
}

.scrollEmployees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 1px solid #ddd;
    overflow-y: scroll;
    padding-top:8%;
    width: 800px;
    padding-bottom: 2%;

}