.background-navbar{
    background-color: rgba(0,0,0,0.6);  
}
.navbar{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar:hover{
    color: #0F91FE;
}
.container{
    display: flex;
    flex-direction: row;

}
.navbar1{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 7%;
    font-size: 130%;
    flex: 1;
}
.navbar2{
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-right: 2%;
    flex: 1;
    text-align: right;
}
.logo{
    width: 4%;
    height: auto;
    margin-right: 2%;
}