.usuario{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  width: 50vw;
  height: 30vh;
}

.campo{
  margin: 10%;
  display: flex;
}

.editar{
  margin-left: 5%;
  cursor: pointer;
}