.vertical{
    display: flex;
    flex-flow: column;
    background-color: white !important;
    border: 1px solid #ccc;
    min-width: 50px;
    height: 100vh;
    position: relative;
    align-items: center;
    padding-top: 20%;

}
.verticalGroup{
    align-items: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.listIcon{
    width: 20px;
    height: 20px;

}
.listIcon2{
    width: 25px;
    height: 25px;
}